<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Detection</title>
</head>
<body>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>


{% comment %} {% if upload %}
    <img src="{{ url_for('static', filename=upload) }}" alt="Uploaded Image" width="500" height="500">
{% endif %} {% endcomment %}
{% if image_path %}
    {% if image_path == "No detection" %}
        <p>No detection</p>
    {% else %}
        <img src="{{ url_for('display', filename=image_path) }}" alt="Result Image" width="500" height="500">
    {% endif %}
{% endif %}


</body>
</html>
